mixin s-promocode()
	// start s-promocode
	+b.SECTION.s-promocode.section#s-promocode&attributes(attributes)
		+pic("brook.png")(class="s-promocode__img-text" )
		+e.stock(class="wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay * (Math.pow(2 , 1))}s`) -10%
		.container
			+e.block(class="wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay}s`)
				+b.section-title
					h2 промокод 
						span.text-white brook
				div
					p До&nbsp;31&nbsp;ноября 2019 по&nbsp;промокоду &laquo;BROOK&raquo; скидка&nbsp;10% на&nbsp;любую услугу.
				+e.btn.link-modal(href="#modal-call" data-title="Воспользоваться скидкой" data-btn="Отправить" data-order=`Воспользоваться скидкой `)  Воспользоваться скидкой
			+e.right-block( class="wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay * (Math.pow(2 , 1))}s`)
				+e.img-wrap2
					+pic("promocode-car.png")
	// end s-promocode