mixin s-best()
	// start s-best
	+b.SECTION.s-best.section.bg--dark.bg-wrap.lazy-background#s-best&attributes(attributes)
		.video-fallback.d-none.d-md-block
		.video-container.d-none.d-md-block
			video#bgvid.fillItUp.video(data-poster='img/header-bg.jpg', playsinline='playsinline', autoplay='autoplay', muted='muted', loop='loop')
				source(src="#" data-src='video/video.mp4', type='video/mp4')
				source(src="#" data-src='video/video.ogv', type='video/ogv')
				source(src="#" data-src='video/video.webm', type='video/webm')
		.container
			.row
				.col-md-6
					+b.section-title(class="wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay * (Math.pow(1.2 , 0))}s`)
						h2 
							span.text-primary лучшие 
							| в&nbsp;своем деле
					.d-none.d-md-block
						+e.text(class="wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay * (Math.pow(1.2 , 1))}s`)  Сертификат соответствия PCK.RU.0001.P392289
						+e.btn(href="#"  class="wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay * (Math.pow(1.2 , 3))}s`) открыть сертификат
				.col
					+e.text-wrap(class="wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay * (Math.pow(1.2 , 4))}s`)
						p Закончились месяцы подготовки, обучения, замеров и&nbsp;теперь наши услуги полностью соответствуют гос. стандартам и&nbsp;требованиям заводов изготавителей авто. Brooklyn стал единственным сертифицированным детейлинг центром в&nbsp;Оренбурге.

						p 
							strong Сертифицированный детейлинг центр Brooklyn, доверяйте свой автомобиль официальным центрам.
					.d-md-none.text-center
						+e.text  Сертификат соответствия PCK.RU.0001.P392289
						+e.btn(href="#") открыть сертификат
					
	// end s-best