mixin s-cases()
	// start s-cases
	+b.SECTION.s-cases.section#s-cases&attributes(attributes)
		
		.container
			+b.section-title(class="wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay }s`)
				h2 наши  
					span.text-primary работы
			+b.tabs
				
				+e.caption-wrap
					+e.caption(class="wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay * (Math.pow(1.2 , 1))}s`)
						+e.btn.active
							span полировка кузова
						+e.btn
							span нанесение керамики
						+e.btn
							span химчистка салона
						+e.btn
							span антигравийная обработка
						+e.btn
							span тонировка
						+e.btn
							span ремонт стекол
						+e.btn
							span ремонт вмятин без покраски
						+e.btn
							span предпродажная подготовка
				+e.hr(class="wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay * (Math.pow(1.2 , 3))}s`)
				+e.wrap
					mixin cont()
						+e.content&attributes(attributes)
							.row
								- for (var x = 1; x <= 12; x++)
									.col-xl-3.col-md-4.col-6( class="wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay * (Math.pow(1.2 , 4))}s`)
										+e.img-wrap.bg-wrap(href=`img/@2x/gal-${x}.jpg`)
											+pic(`gal-${x}.jpg`,'bg')(class="picture-bg")
										
					+cont()(class="active")
					- for (var x = 1; x <= 6; x++)
						+cont()
			+e.btn.link-modal(href="#modal-call" data-title="Записаться на консультацию " data-btn="Записаться" data-order=`Записаться на консультацию  ` ) Записаться на консультацию 
	// end s-cases